<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.vulkan.level" android:version="1" android:required="true" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <application android:name=".MainApplication" android:label="NATIVE COD" android:theme="@style/AppTheme" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".RuntimeActivity" android:exported="false" android:process=":iw4" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">
            <meta-data android:name="android.app.lib_name" android:value="android_runtime" />
        </activity>
    </application>
</manifest>
